/* This is the most unorganized CSS code ever...*/

body {
    background-color: black;
    font-family: sans-serif;
}

#colorButtons {
    text-align: center;
    background-color: none;
    border-radius: 35px;
    width: 250px;
}

.links {
    text-align: center;
    margin: 80px;
    background-color: wheat;
    border-radius: 35px;
    width: 350px;
    height: 80px;
    margin: 25px, auto;

}

.top-header {
    float: right;
    margin-right: 35px;
    text-align: center;
    background-color: wheat;
    border-radius: 35px;
    width: 300px;
}

.about {
    text-align: center;
    margin: 80px;
    background-color: wheat;
    border-radius: 35px;
    width: 350px;
}

.links-header {
    text-align: center;
}

main {
    opacity: 0;
    animation: fadeIn 1s ease-out 0.5s forwards; /*Fade in animation*/
}

#bottomFooter {
    background-color: wheat;
    text-align: center;
    border-radius: 35px;
    width: 300px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}