body {
    background-color: darkgrey;
    font-family: sans-serif;
}

.links {
    text-align: center;
    margin: 80px;
}

.top-header {
    text-align: center;
    background-color: wheat;
    border-radius: 35px;
    width: 300px;
    margin: 25px auto;
}

.about {
    text-align: center;
    margin: 80px;
}

.links-header {
    text-align: center;
}

main {
    opacity: 0;
    animation: fadeIn 1s ease-out 0.5s forwards; /*Fade in animation*/
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}